<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
            
                margin-left: 10cm;
                margin-top: 5cm;
            }
            button{
              border:none;
                width: 100px;
                height: 40px;
                background-color: rgb(75, 167, 243);
            }
            a{
               text-decoration: none; 
               color: white;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h2>404 Error:</h2>
         <h3 >This localhost page cannot be found.</h3>
            <h4>No webpage was found for the web address</h4>
     <button><a href="/student">Reload</a></button>
        </body>
</html>